#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px solid #8E8D8A;
    color: #EAE7DC;
    background-color: #E98074;
}

#header h1 {
    margin-left: 35px;
    font-family: "Pacifico", cursive;
    font-size: 26px;
}
