#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 2px solid black;
    color: #EAE7DC;
    background-color: #E98074;
}

#header h1 {
    margin-left: 35px;
}
